@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 98.8235%);
  --foreground: hsl(0 0% 9.0196%);
  --card: hsl(0 0% 98.8235%);
  --card-foreground: hsl(0 0% 9.0196%);
  --popover: hsl(0 0% 98.8235%);
  --popover-foreground: hsl(0 0% 32.1569%);
  --primary: hsl(151.3274 66.8639% 66.8627%);
  --primary-foreground: hsl(153.3333 13.0435% 13.5294%);
  --secondary: hsl(0 0% 99.2157%);
  --secondary-foreground: hsl(0 0% 9.0196%);
  --muted: hsl(0 0% 92.9412%);
  --muted-foreground: hsl(0 0% 12.549%);
  --accent: hsl(0 0% 92.9412%);
  --accent-foreground: hsl(0 0% 12.549%);
  --destructive: hsl(9.8901 81.982% 43.5294%);
  --destructive-foreground: hsl(0 100% 99.4118%);
  --border: hsl(0 0% 87.451%);
  --input: hsl(0 0% 96.4706%);
  --ring: hsl(151.3274 66.8639% 66.8627%);
  --chart-1: hsl(151.3274 66.8639% 66.8627%);
  --chart-2: hsl(217.2193 91.2195% 59.8039%);
  --chart-3: hsl(258.3117 89.5349% 66.2745%);
  --chart-4: hsl(37.6923 92.126% 50.1961%);
  --chart-5: hsl(160.1183 84.0796% 39.4118%);
  --sidebar: hsl(0 0% 98.8235%);
  --sidebar-foreground: hsl(0 0% 43.9216%);
  --sidebar-primary: hsl(151.3274 66.8639% 66.8627%);
  --sidebar-primary-foreground: hsl(153.3333 13.0435% 13.5294%);
  --sidebar-accent: hsl(0 0% 92.9412%);
  --sidebar-accent-foreground: hsl(0 0% 12.549%);
  --sidebar-border: hsl(0 0% 87.451%);
  --sidebar-ring: hsl(151.3274 66.8639% 66.8627%);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 7.0588%);
  --foreground: hsl(214.2857 31.8182% 91.3725%);
  --card: hsl(0 0% 9.0196%);
  --card-foreground: hsl(214.2857 31.8182% 91.3725%);
  --popover: hsl(0 0% 14.1176%);
  --popover-foreground: hsl(0 0% 66.2745%);
  --primary: hsl(154.898 100% 19.2157%);
  --primary-foreground: hsl(152.7273 19.2982% 88.8235%);
  --secondary: hsl(0 0% 14.1176%);
  --secondary-foreground: hsl(0 0% 98.0392%);
  --muted: hsl(0 0% 12.1569%);
  --muted-foreground: hsl(0 0% 63.5294%);
  --accent: hsl(0 0% 19.2157%);
  --accent-foreground: hsl(0 0% 98.0392%);
  --destructive: hsl(6.6667 60% 20.5882%);
  --destructive-foreground: hsl(12 12.1951% 91.9608%);
  --border: hsl(0 0% 16.0784%);
  --input: hsl(0 0% 14.1176%);
  --ring: hsl(141.8919 69.1589% 58.0392%);
  --chart-1: hsl(141.8919 69.1589% 58.0392%);
  --chart-2: hsl(213.1169 93.9024% 67.8431%);
  --chart-3: hsl(255.1351 91.7355% 76.2745%);
  --chart-4: hsl(43.2558 96.4126% 56.2745%);
  --chart-5: hsl(172.4551 66.0079% 50.3922%);
  --sidebar: hsl(0 0% 7.0588%);
  --sidebar-foreground: hsl(0 0% 53.7255%);
  --sidebar-primary: hsl(154.898 100% 19.2157%);
  --sidebar-primary-foreground: hsl(152.7273 19.2982% 88.8235%);
  --sidebar-accent: hsl(0 0% 19.2157%);
  --sidebar-accent-foreground: hsl(0 0% 98.0392%);
  --sidebar-border: hsl(0 0% 16.0784%);
  --sidebar-ring: hsl(141.8919 69.1589% 58.0392%);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
